<div class="container admin">
  <div ng-show="currentUser().isVerified == false">
    <div class="container">
      <div class="ui grid">
        <div class="eight wide centered column">
          <div align="center" class="ui negative message">
            <div class="header">
              <i class="warning sign icon"></i> Restricted area
            </div>
            <p>Please verify your email to continue.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="currentUser().isVerified == true">
    <div class="ui grid">
      <div class="row centered">
        <h2 class="admin-header ui horizontal divider header">
          <i class="settings icon"></i>
          Admin Panel
        </h2>
      </div>
      <div class="row centered">
        <button class="ui button" ng-click="toolsState()">TOOLS</button>
        <button ng-show="admin" class="ui button" ng-click="usersState()">USERS</button>
        <button class="ui button" ng-click="listsState()">LISTS</button>
      </div>
    </div>

      <!-- For nested child views -->
    <div class="adminComponents" ui-view></div>
  </div>

</div>
