.toolsHeader {
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 100;
}

.adminLoader {
  margin: 0 auto!important;
  margin-top: 50px!important;
}

.adminComponents {
  margin-top: 50px;
}

.admin-header{
  margin-top: 40px !important;
}

@media (max-width:767px){
  .adminTable{
    table-layout: fixed;
  }
}
