.toolCreated {
  overflow-y: auto!important;
}
.githubLoader {
  margin: 25px 0;
  text-align: center;
  padding: 0 30%;
}
.showGithub {
  margin-top: 20px;

  .populateForm {
    margin-top: 10px;
  }
}

.platform-checkbox{
  padding: 10px;
}

.create-tool-header{
  margin-top:40px !important;
}
