<div class="ui page grid stackable">
    <div class="sixteen wide column">
      <h1>Explore all tools</h1>
    </div>
    <div class="four wide column center aligned" ng-repeat="category in categories">
      <a ng-href="tools/{{category.link}}" style="color: #222222;">
        <div class="ui segment {{category.color}}">
          <h1 class="ui header">
            <i class="{{category.icon}} icon" style="margin-right: 0; font-size: 2.5em;"></i>
          </h1>
          <h2>{{category.name}}</h2>
        </div>
      </a>
    </div>
</div>