.list.container {
  text-align: center;
  p {
    word-break: break-word;
  }
}
.ui.cards.listCards>.card {
  width: 23%!important;
}
.list-header{
  margin-top: 40px !important;
}

#list-subheader{
  margin-top: 10px !important;
  margin-bottom: 40px !important;
}
