<div class="container">
  <div class="row centered">
    <h2 class="list-header ui horizontal divider header">
      {{toolList.toolListName | uppercase}}
    </h2>
  </div>

  <div id="list-subheader" class="row">
    <h4 style="text-align:center;">{{ toolList.description }}</h4>
  </div>


  <div ng-show="!toolsSearched" class="ui active centered large inline loader adminLoader"></div>

  <!-- Error handler -->
  <div ng-show="errors.noList">
    <h1>Sorry! There was an error!</h1>
    <p>Tool List not found!</p>
  </div>

  <div ng-show="noTools">
    <h1>Woops!</h1>
    <p>Looks like this list doesn't have any tools yet. If you're the owner, you can add tools to it from any tool page.</p>
  </div>

  <div class="ui four cards stackable">
    <div class="ui link card" ng-repeat="tool in tools | filter:toolFilter | filter:term | orderBy:toolOrder">
      <a class="image" ui-sref="tool({id: tool._id})">
        <img ng-src="{{tool.logo_url || '/assets/images/jt_nologo.png'}}" err-src="/assets/images/jt_nologo.png" alt="" />
      </a>
      <div class="content">
        <a class="header" ui-sref="tool({id: tool._id})">
          {{tool.name}}
        </a>
        <div class="desciption" ui-sref="tool({id: tool._id})">
          {{tool.description | limitTo: 120 }}{{tool.description.length > 120 ? '...' : ''}}
        </div>
      </div>
      <div class="extra content">
        <i class="green thumbs up icon"></i> {{tool.upvotes.length}} &nbsp;
        <i class="red thumbs down icon"></i> {{tool.downvotes.length}}
        <div class="right floated">
          <span ng-repeat="cat in tool.categories" style="font-size:12px">{{cat}}{{$last ? '' : ', '}}</span>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="ui grid">
    <div class="twelve wide column">
        <p>With ♥ from the Newsroom.tools team.</p>
    </div>
    <div class="four wide column right aligned">
        <a target="_blank" style="color:#1dcaff;" href="https://twitter.com/newsroomtools"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
  </div>
</div>
