<div class="usersAdmin">
  <h1 style="text-align:center;">USERS</h1>
  <div ng-show="!forbidden">
    <h2 style="text-align:center;">Click text to edit.</h2>
    <div style="margin:30px 0;" ng-repeat="user in usersList | orderBy: '+name'">

      <h4><a ng-click="showUserTable(user)"><i ng-class="showUsers[user._id] ? 'minus icon': 'plus icon'"></i>{{user.email}}</a></h4>
      <table ng-show="showUsers[user._id]" class="ui celled striped stackable table adminTable">
        <tbody>
          <tr ng-repeat="(head, value) in user">
            <th>{{head | uppercase}}</th>
            <td style="word-wrap:break-word;">
              <a href="#" onclick="return false" ng-click="editing = true" ng-hide="editing">{{value == '' ? '-' : value}}</a>
              <textarea style="width:100%;" ng-model="user[head]" ng-show="editing"></textarea>
              <button class="positive ui button" ng-click="editing = false; updateUser(user)" ng-show="editing">Update</button>
            </td>
          </tr>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div style="margin:20px 0 0 0" class="ui right floated red labeled icon button small" ng-really-message="Are you sure you want to delete {{user.email}}?" ng-really-click="removeUser(user._id)">
                <i class="trash outline icon"></i> Delete User
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
