$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import '../bower_components/semantic-ui/dist/semantic.min.css';

/**
 * App-wide Styles
 */

 // COLOR VARIABLES
 $mainGreen: #5bbd72;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img {
  max-width: 100%; height: auto;
}

.bold {
  font-weight: 700;
}

iframe {
  max-width: 100%;
}

.meta {
  color: #9a9a9a;
}

.floated.right {
  float: right;
}

body {
  margin: 0;
  padding-top: 5%;
}

a {
  text-decoration: none;
}

.text.huge {
  font-size: 4em;
  vertical-align: middle;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top:70px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.pull-right {
  float: right;
}

hr {
  clear: both;
}

.center-button{
  margin-left: auto !important; 
  margin-right:auto !important;
  display:block !important;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/adminLists/adminLists.scss';
@import 'create/create.scss';
@import 'create/toolCreated/toolCreated.scss';
@import 'explore/explore.scss';
@import 'list/list.scss';
@import 'main/grid/grid.scss';
@import 'main/homepageLists/homepageLists.scss';
@import 'main/main.scss';
@import 'tool/tool.scss';
@import 'tool/toolReview/toolReview.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector