<div class="container">

    <div class="ui page grid">
      <div class="four wide column">
        <img style="max-width: 80%; max-height: 80%; overflow: auto; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;" ng-src="{{tool.logo_url}}" />
      <img src="http://placehold.it/250x250?text=Logo">
    </div>
    <div class="four wide column">
      <h1>{{tool.name}}
        
      </h1>

      <p class="meta">{{tool.developer}} <i class="check circle icon orange" ng-if="record.acf.organisation_verified"><small style="text-transform: uppercase; padding-left: 2px;">Verified</small></i></p>
      <div ng-bind-html="record.excerpt"></div>
      <p></p>
      <div class="ui buttons">
        <a href="{{tool.github_url}}" target="_blank" class="ui button"><i class="github icon"></i> GitHub</a>
        <div class="or"></div>
        <a href="{{tool.home_url}}" target="_blank" class="ui positive button">Give it a go</a>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui center aligned segment">

    <div class="ui error message listErrors" ng-show="listErrors.error">
      <div class="header">
        There was a problem adding this tool to your list
      </div>
      <ul class="list">
        <li>{{ listErrors.error }}</li>
      </ul>
    </div>
    <div ng-show="isLoggedIn()" class="ui dropdown list">
      <div class="ui label addToList" ng-click="loadToolLists()" >
        <i class="plus icon"></i> Add to list
        <i class="dropdown icon"></i>
      </div>
      <div class="menu">
        <div ng-click="addToolToList(value._id)" ng-repeat="(key, value) in toolLists" class="item">{{ value.toolListName }}</div>
        <div ng-click="addToFavourites(tool._id)" class="item">Favourites <i class="star icon"></i></div>
        <div ng-click="createNewList()" class="item newList">New List...</div>
      </div>
    </div>

      <h2>Votes</h2>
        <div class="center aligned column">
          <div ng-click="toolVote(true)" class="ui icon button buttonVote">
            <i ng-class="(tool.upvotes.length>tool.downvotes.length) ? 'huge': 'large'" class="thumbs up icon green"></i> </button>
            <span ng-class="(tool.upvotes.length>tool.downvotes.length)? 'huge': 'large'" class="text large">{{ tool.upvotes.length }}</span>
          </div>
        </div>
        <div class="center aligned column">
          <div ng-click="toolVote(false)" class="ui icon button buttonVote">
            <i ng-class="(tool.downvotes.length>tool.upvotes.length) ? 'huge': 'large'" class="thumbs down icon red"></i> </button>
            <span ng-class="(tool.downvotes.length>tool.upvotes.length)? 'huge': 'large'" class="text large">{{ tool.downvotes.length }}</span>
          </div>
        </div>

        <!-- REVIEW STATE BUTTON -->
        <div ng-show="hasUserVoted" class="ui message reviewState">
          <div class="content">
            <div class="header">
              Thanks for voting! Care to leave a review?
            </div>
            <button class="ui button" ng-click="reviewState()">Leave a review</button>
          </div>
        </div>

      </div>
    </div>
    </div>

    <div class="ui divider"></div>

      <div class="ui page grid" ui-view> <!-- For nested reviews child -->
        <div class="eight wide column">
          <div class="ui segment">
            <p><strong>Description</strong></p>
            <div ng-bind-html="tool.description"></div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui segment">
            <img src="http://placehold.it/500x300?text=Screenshots">
          </div>
        </div>
      </div> <!-- End ui view -->

  </div>

  <!-- INCLUDE the success message on adding to list -->
  <div ng-include="'app/tool/toolList/toolListMessage.html'"></div>

  <div class="ui divider"></div>

  <div class="ui page grid">
    <div class="sixteen wide column">
      <div class="footer">
        <p>With ♥ from The Sunday Times</p>
      </div>
    </div>
  </div>
</div>