<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">
  <div class="description">
    <div ng-show="errors" class="ui negative message">
        <div class="header">
          <i class="warning sign icon"></i> Oops.. There was an issue logging you in.
        </div>
        <p>{{errors.errors.type}}</p>
    </div>
  
    <form name="loginForm" class="ui form" ng-submit="login()">
        <div class="input field">
            <input type="email" ng-model="user.email" placeholder="Email" required>
        </div>
        <div class="input field">
            <input type="password" ng-model="user.password" placeholder="Password" required>
        </div>
        <button class="ui positive submit button center-button" ng-disabled="loginForm.$invalid">Login</button>
    </form>
    
    <p class="ui horizontal divider">Not registered? <a ng-click="goToSignup();">Signup now!</a></p>
  </div>
</div>