.reviewForm {
  margin: 50px 0!important;
  text-align: center!important;

  form {
    margin-top: 20px;
  }
}
.toolReviewName {
  color: $mainGreen;
}
.label.ui.question {
  background: none!important;
  padding: 0px;
  font-size: 20px;
  margin: 20px 0 10px 0;
}
.ui.button.toolReviewSubmit {
  margin-top: 20px;
}
.options {
  margin-bottom: 20px;

  .leftOption {
    margin-top: 5px;
    float: left;
  }
  .rightOption {
    margin-top: 5px;
    float: right;
  }
}
.percentageShow {
  margin: 0 auto;
  color: $mainGreen;
  font-size: 20px;
}
.grouped.fields {
  margin-bottom: 50px!important;
}