<div class="ui stackable fixed green inverted main menu">
  <div class="navbarImageWrapper">
    <a ng-click="home()"><img src="assets/images/thebriefcase.png" style="max-width: 23px; vertical-align: -3px; margin-right: 2px;">
    <h1 class="newsroom">Newsroom</h1><h1 class="tools">Tools</h1></a> 
  </div>
  <div class="navbarMenu">
    <a ng-click="home()" class="menuItem">
      <h4><i class="home icon"></i>Home</h4>
    </a>
    <a ui-sref="about" class="menuItem">
      <h4><i class="question icon"></i>About</h4>
    </a>
    <a ui-sref="create" class="menuItem">
      <h4><i class="puzzle icon"></i>Create</h4>
    </a>

    <div style="display:inline;" class="menuItem right" ng-hide="isLoggedIn()">
      <h4><a href="#" ng-click="showModal()">Login</h4></a>
    </div>
  </div>
  <jt-login></jt-login>

  <div ng-show="isLoggedIn()" class="ui simple dropdown item right navbar-dropdown">
      <img ng-src="{{ getCurrentUser().gravUrl }}"> <i class="dropdown icon"></i>
      <div class="menu">
        <a ui-sref="admin" class="item">Admin Panel</a>
        <a class="item" href="#" ng-click="logout()"> Logout</a>
      </div>
  </div>
  </div>
</div>