a[ui-sref]{
  cursor: pointer;
}

a[ng-click]{
  cursor:pointer;
}

.ui.grid.main{
	margin-top: 70px;
}

.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

// .ui.message{
// 	padding: 40px !important;
// }

@media (max-width: 767px) {
  	.ui.grid.main{
  		margin-top: 70px;
	}

        .ui.grid { margin: 0 !important; }
	.ui.vertical.menu.navbar{
		margin-top: 2.8em !important;
	}
}

.ui.vertical.menu{
  margin: 0 0 0 30px !important;
	width: 100%;
	display: none;
}
