@import '../../app/_sass/vars';

a[ui-sref]{
  cursor: pointer;
}

a[ng-click]{
  cursor:pointer;
}

.navbar-dropdown{
  padding: 7px 10px 5px 10px !important;
  img{
    height: 27px;
    width: 27px;
  }
}

.main.menu{
	z-index:100000 !important;
}

.navbarImageWrapper {
  text-align: center;
  display: block;

  h1.newsroom,
  h1.tools {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
  }
  
  h1.tools {
    font-weight: 200;
  }

  @include breakpoint(sm) {
    display: inline-block;
    text-align: left;
  }

  .navbarMenu {
    text-align: center;

    color: #fff !important;
    .menuItem {
      display: block !important;

    }
  }
  
}