<div class="ui fixed green inverted main menu">
  <div class="text item bold">
    <img src="assets/images/thebriefcase.png" style="max-width: 23px; vertical-align: -3px; margin-right: 2px;"> <span style="font-family: 'Roboto Slab'; font-weight: 100; text-transform: uppercase; color: #FFFFFF; letter-spacing: 2px;">Journalist</span> <span style="font-family: 'Roboto Slab'; font-weight: 700; text-transform: uppercase; color: #FFFFFF; letter-spacing: 3px;">Toolbox</span>
  </div>
  <a ui-sref="main" class="item">
    <i class="home icon"></i> Home
  </a>
  <a ui-sref="interested" class="item">
    <i class="question icon"></i> Interested?
  </a>
  <a ui-sref="create" class="item">
    <i class="puzzle icon"></i> Create
  </a>

  <div style="display:inline;" class="item right" ng-hide="isLoggedIn()">
    <a href="#" ng-click="showModal()">Login</a>
  </div>
  <jt-login></jt-login>

  <div ng-show="isLoggedIn()" class="ui simple dropdown item right navbar-dropdown">
      <img ng-src="{{ getCurrentUser().hashedEmail || default }}"> <i class="dropdown icon"></i>
      <div class="menu">
        <a ui-sref="admin" class="item">Admin Panel</a>
        <a class="item" href="#" ng-click="logout()"> Logout</a>
      </div>
  </div>
  <div style="display:inline;" class="item right" >
    
  </div>
</div>