.listsHeader{
  text-align:center !important;
  margin-bottom:30px !important;
}
#favorites{
  margin-bottom:-3px;
}
.adminLists {
  .cards {
    display: inline-block!important;
  }

  i.edit.icon {
    float: right;
    font-size: 20px;
  }
  .glyphicon-trash {
    font-size: 20px;
  }
}
.createListWrapper {
  margin: 50px 0;

  .createForm {
    margin-top: 25px;

    .ui.button.addList {
      margin-top: 25px;
    }
  }
}

@media (max-width:767px) {
  #favorites{
    margin-bottom:15px !important;
  }
}
