.adminLists {
  .cards {
    display: inline-block!important;
  }

  i.edit.icon {
    float: right;
    font-size: 20px;
  }
  .glyphicon-trash {
    font-size: 20px;
  }
}
.createListWrapper {
  margin-top: 50px;

  .createForm {
    margin-top: 25px;

    .ui.button.addList {
      margin-top: 25px;
    }
  }
}