<div class="container admin">
  <div class="ui four column grid">
    <div class="center aligned column row">
      <h1 class="centered">ADMIN</h1>
    </div>
  </div>

    <!-- TOOLS TABLE -->
    <table class="ui table segment">
    <h2>TOOLS</h2>
    <p>Click to edit field.</p>
      <tr>
        <th ng-repeat="(head, value) in toolList[0]"><span>{{ head }}</span></th>
        <th>UPDATE</th>
      </tr>
      <tr ng-repeat="row in toolList">
        <td ng-repeat="(name, value) in row" ng-scope>
          <a href="#" ng-click="editing = true" ng-hide="editing" ng-bind="row[name] || 'null'"></a>
          <input ng-model="row[name]" ng-show="editing" />
          <button ng-click="editing = false" ng-show="editing">ok</button>
        </td>    
        <td><i class="upload icon"></i></td>
      </tr>
    </table>

</div>