<div ng-show="!showGithub && currentUser().name && currentUser().isVerified === true" ng-click="showGithub =! showGithub" class="ui labeled icon button">
  <i class="github icon"></i>
  Upload from GitHub repository
</div>
<div ng-show="showGithub" ng-click="showGithub = !showGithub" class="ui labeled icon button">
  <i class="github icon"></i>
  Hide GitHub upload
</div>

<div class="ui message" ng-show="errors.githubError">
  <div class="header">
    There was a problem fetching data from this repository
  </div>
  <ul class="list">
    <li>{{ errors.githubError }}</li>
  </ul>
</div>

<div ng-show="showGithub" class="showGithub">
  <input type="text" ng-model="githubLoaderUrl" placeholder="Github link">
  <div class="populateForm" ng-click="populateForm()">
    <button class="positive ui button">Populate form</button>
  </div>
</div>
