<div>

    <form class="ui page grid">
        <div class="sixteen wide column">
            <div class="ui fluid icon input massive" ng-class="{'loading': loading}">
                <input type="text" ng-model="term" ng-keyup="onKeyUp()" placeholder="What are you looking to create...?">
                <i class="search icon"></i>
            </div>
        </div>
    </form>

    <div class="ui page grid stackable" ng-show="noResults">
        <div class="twelve wide centered column">
            <div class="ui negative message">
                  <div class="header">
                    No results found.
                  </div>
                  <p>Please try with a different search term</p>
            </div>
        </div>
    </div>

<!--<ul>
        <li ng-repeat="tool in tools | filter:toolFilter | filter:term">
            {{tool.platform}}::{{tool.price}}
        </li>
    </ul>-->

<form class="ui page grid" ng-show="ShowFilter" style="margin:0px;">
    <div class="sixteen wide column">
        <div class="ui styled accordion container fluid" style="margin:0px;">
        <div class="title">
            <h3><i class="filter icon"></i>Filters</h3>
        </div>
        <div class="content">
            <div class="transition">     
            <h4 class="ui horizontal divider header">
                <i class="laptop icon"></i>
                Platform
            </h4>
            <table class="ui celled table segment">
              <tbody>
                <tr>
                  <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-click="includeFilter('Web')" tabindex="0" class="hidden" name="web" id="web">
                        <label for="web"><b>Web</b></label>
                    </div></td>
                  <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-click="includeFilter('Windows')" tabindex="0" class="hidden" name="Windows" id="Windows">
                        <label for="Windows"><b>Windows</b></label>
                    </div></td>
                  <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-click="includeFilter('Linux')" tabindex="0" class="hidden" name="Linux" id="Linux">
                        <label for="Linux"><b>Linux</b></label>
                    </div></td>
                  <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-click="includeFilter('MacOS')" tabindex="0" class="hidden" name="mac" id="mac">
                        <label for="mac"><b>MacOS</b></label>
                    </div></td>
                </tr>
              </tbody>
            </table>
            <h4 class="ui horizontal divider header">
              <i class="options icon"></i>
              Other
            </h4>
            <table class="ui celled table segment">
              <tbody>
                <tr>
                    <td>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-click="includeFilter('0')" tabindex="0" class="hidden" name="free" id="free">
                        <label for="free"><b>Free</b></label>
                    </div></td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</form>


    <div class="ui page grid stackable" ng-show="!noResults">
        <!-- <div class="four wide column">
            <div class="ui fluid icon input">
                <input type="text" ng-model="filters.acf.documentation_languages" placeholder="Documentation languages...">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui toggle checkbox" style="margin-bottom: 5px;">
                <input type="checkbox" ng-model="verified" ng-change="verifiedTick()" name="verified" id="verified">
                <label for="verified">Verified</label>
            </div>
            <div class="ui toggle checkbox">
                <input type="checkbox" ng-model="demo" ng-change="demoTick()" name="demo" id="demo">
                <label for="demo">Demo</label>
            </div>
        </div> -->


        <div class="four wide column" ng-repeat="tool in tools | filter:toolFilter | filter:term">
            <div class="ui cards">
                <div class="card" style="margin-left: auto; margin-right: auto;">
                    <a ui-sref="tool({id: tool._id})" class="image">
                        <img ng-src="http://placehold.it/250x250">
                    </a>    
                    <div class="content">
                        <div class="ui floated right" ng-if="tool.downvotes <= tool.upvotes">
                            <i class="thumbs up icon green"></i> 
                            <span class="text">{{tool.upvotes}}</span>
                        </div>
                        <div class="ui floated right" ng-if="tool.downvotes > tool.upvotes">
                            <i class="thumbs down icon red"></i> 
                            <span class="text">{{tool.downvotes}}</span>
                        </div>
                        <a ui-sref="tool({id: tool._id})">
                            <div class="header">
                                <h3>{{tool.name}}</h3>
                            </div>
                        </a>
                        <div class="meta">
                            <span><i class="file image outline icon"></i><span ng-repeat = "category in tool.category">{{category}}{{$last? '':', '}}</span></span>
                        </div>
                        <div class="ui divider"></div>
                        <div style="height: 50px; max-height: 50px;"><span class="tool-description">{{tool.description | limitTo: 90 }}{{tool.description.length > 90 ? '...' : ''}}</span></div>
                    </div>
                    <a ui-sref="tool({id: tool._id})" class="ui bottom attached button primary">
                        <i class="eye icon"></i>
                        View tool
                    </a>
                </div>
            </div>
        </div>
    </div>
