.ftlHeader {
  margin-bottom: 25px;
}

.featuredList {
  text-align: center;

  .card {
    padding: 25px;
  }

  .description {
    color: gray;
    margin-top: 25px;
    font-weight: normal;
  }

  .header h1 {
    font-size: 25px;
    font-size: 20px;
  }
}
